:root {
  --primary-headlines-color: #ffffff;
  --secondary-text-color: #000000;
  --third-text-color: #d41443;
  --text-color: #907e82;
  --interactive-color: #d41342;
  --btn-hover-color: #ecebeb;
  --hover-color: #d41443;
  --accent-color: #ffa5ba;

  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #fff5f6;
  --hero-bcg-color: #ffb8ca;
  --menu-bcg-color: #e17992;
  --first-product-bcg: #ffb8ca;
  --second-product-bcg: #f0d1a5;
  --third-product-bcg: #c2e297;
  --icon-bcg-color: #fea5bb;
  --points-bcg-color: #d9d9d9;
  --bgc-customer-reviews: #fafafa;

  --icon-fill: #ffffff;

  --font-family-primary: "DM Sans", sans-serif;
  --font-family-secondary: "Titan One", cursive;
}

body {
  font-family: var(--font-family-primary);
  background-color: var(--primary-bcg-color);
  color: var(--secondary-text-color);
  font-size: 14px;
  letter-spacing: 0.04em;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.title {
  font-family: var(--font-family-secondary);
}

.list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

li {
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.products__section {
  padding: 60px 0;
}

.products__container {
  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.section__label {
  display: block;
  text-align: center;

  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--accent-color);

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }
}

.section__title {
  text-align: center;

  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.14;

  color: var(--hover-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 148px;
    font-size: 34px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 158px;
    font-size: 48px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 281px;
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products__item {
  position: relative;

  min-height: 520px;
  perspective: 1000px;

  @media screen and (min-width: 1200px) {
    min-height: 535px;
  }

  &::before {
    content: "";
    z-index: 99;
    position: absolute;
    transform: translateX(-50%);

    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
      width: 280px;
      height: 280px;

      left: 50%;
      top: -140px;
    }

    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;

      left: 50%;
      // top: -112px;
      top: -138px;
    }

    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;

      left: 50%;
      top: -261px;
    }
  }

  &:nth-child(1) {
    &::before {
      @media screen and (max-width: 767px) {
        background-image: url(../images/products1.png);
      }

      @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (min-resolution: 192dpi),
        screen and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: url(../images/products1-2x.png);
        background-size: 280px 280px;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products1-tablet.png);
      }

      @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: url(../images/products1-tablet2x.png);
        background-size: 224px 224px;
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products1-desktop.png);
      }

      @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (min-resolution: 192dpi),
        screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        background-image: url(../images/products1-desktop2x.png);
        background-size: 368px 394px;
      }
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: 767px) {
        background-image: url(../images/products2.png);
      }

      @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (min-resolution: 192dpi),
        screen and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: url(../images/products2-2x.png);
        background-size: 280px 280px;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products2-tablet.png);
      }

      @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: url(../images/products2-tablet2x.png);
        background-size: 224px 224px;
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products2-desktop.png);
      }

      @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (min-resolution: 192dpi),
        screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        background-image: url(../images/products2-desktop2x.png);
        background-size: 368px 394px;
      }
    }
  }

  &:nth-child(3) {
    &::before {
      @media screen and (max-width: 767px) {
        background-image: url(../images/products3.png);
      }

      @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (max-width: 767px) and (min-resolution: 192dpi),
        screen and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: url(../images/products3-2x.png);
        background-size: 280px 280px;
      }

      @media screen and (min-width: 768px) {
        background-image: url(../images/products3-tablet.png);
      }

      @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 768px) and (min-resolution: 192dpi),
        screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: url(../images/products3-tablet2x.png);
        background-size: 224px 224px;
      }

      @media screen and (min-width: 1200px) {
        background-image: url(../images/products3-desktop.png);
      }

      @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-width: 1200px) and (min-resolution: 192dpi),
        screen and (min-width: 1200px) and (min-resolution: 2dppx) {
        background-image: url(../images/products3-desktop2x.png);
        background-size: 368px 394px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.pink-card {
  background-color: var(--first-product-bcg);
}

.yellow-card {
  background-color: var(--second-product-bcg);
}

.green-card {
  background-color: var(--third-product-bcg);
}

.front,
.back {
  position: absolute;

  border-radius: 24px;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  backface-visibility: hidden;
  transition: transform 1s;

  @media screen and (max-width: 767px) {
    padding: 160px 40px 40px 40px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 3);
    padding: 118px 32px 40px 32px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 64px) / 3);
    padding: 165px 63px 60px 64px;
  }
}

.back {
  transform: rotateY(180deg);
}

.products__item.is-flipped .front {
  transform: rotateY(180deg);
}

.products__item.is-flipped .back {
  transform: rotateY(360deg);
}

.products__title {
  position: relative;

  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--primary-headlines-color);

  margin-bottom: 70px;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
  }

  &::after {
    content: "";
    background-image: url(../images/dotes.png);
    position: absolute;
    top: 55px;
    left: 50%;

    font-weight: 400;
    font-size: 20px;

    width: 26px;
    height: 6px;

    transform: translate(-50%, -50%);

    @media screen and (min-width: 320px) and (min-device-pixel-ratio: 2),
      screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-width: 320px) and (min-resolution: 192dpi),
      screen and (min-width: 320px) and (min-resolution: 2dppx) {
      background-image: url(../images/dotes2x.png);
      background-size: 26px 6px;
    }

    @media screen and (min-width: 1200px) {
      top: 66px;
    }
  }
}

.products__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;

  color: #ffffff;

  // margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.products__description--additional {
  @extend .products__description;
}

.products__button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-headlines-color);
  color: var(--hover-color);
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms, color 250ms, box-shadow 250ms;

  &:hover {
    background-color: var(--hover-color);
    color: var(--primary-headlines-color);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
      1px 4px 6px rgb(0 0 0 / 16%);
  }
}

.products__button--icon {
  fill: currentColor;
  transform: rotate(180deg);
}
